.productnew{
    border-radius: 5px;
    // background: #FF5A4F;
    background-image: linear-gradient(#FF5A4F, white);
    .slider{
        height: 100%;
        // .slider-child{
        //     padding-right:15px;
        // }
        .slick-prev{
            &::before{
                color: rgb(250, 250, 250);
                opacity: 1 !important;
            }
            z-index: 1;
        }
        .slick-next{
            &::before{
                color: rgb(250, 250, 250);
                opacity: 1 !important;
            }
        }
        .slick-prev, .slick-next{
            top: 50%;
            background-color: #797979;
            opacity: 0.5;
            border: 2px solid #d7d7d7;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            &:hover{
                opacity: 1;
                background-color: rgb(10, 100, 255);
            }
        }
        .slider-child{
            // background: rgb(255, 1, 1);
            padding: 10px;
            border: none;
            // margin: 10px;
            .card{
                background: yellow;
                width: 100% !important;
            }
        }
    }
    .seemore{
        // border: 1px solid orange;
        margin-top: 5px;
        text-align: center;
        button{
            padding: 10px 10%;
            background-color: white;
            border: none;
            border-radius: 5px;
        }
    }
}