.product-type{
    border: 3px solid rgb(3, 254, 41);
    margin-top: 0.2%;
    border-radius: 20px;
    padding: 10px;
    h3{
        border-bottom: 10px double rgb(0, 255, 251);
    }
}
.product-today{
    margin: auto;
    .row{
        margin: auto;
    }
}
