.product-category{
    .box-zoom-out{
        overflow: hidden;
        position: relative;
        img { 
            vertical-align:middle; 
            max-width: 100%;
            padding:1%;
            transition: all 1s;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    .card{
        .card-text-home{
            &:hover{
                font-weight: bold !important;
                color: blue !important;
                transition: 0.3s;
            }
            
        }
        &:hover{
            img{
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }  
    }
}